pack/tpope/start/surround
plugged/
plugged/Omnisharp-vim
plugged/ale
plugged/fzf.vim
plugged/fzf
plugged/repeat
plugged/vim-indent-object
plugged/vim-sharpenup
plugged/vim-commentary
plugged/surround
.netrwhist
